package html

templ BaseLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/dist.css?v=1"/>
			<script src="/static/js/htmx@2.0.4.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
