package html

templ HomePage() {
	@AppLayout("Home Page", []Breadcrumb{
		{Label: "Website", Url: "/login"},
		{Label: "Home", Url: "/"},
		{Label: "Current Page", Url: ""},
	}) {
		<div></div>
	}
}

templ AboutPage() {
	@AppLayout("About Page", []Breadcrumb{
		{Label: "About", Url: ""},
	}) {
		<div></div>
	}
}
